modules/extras/developer/modules/language_admin/webservice/supportWSDL2.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<wsdl:definitions name='supportWSDL'
                  targetNamespace='urn:supportWSDL'
                  xmlns:tns='urn:supportWSDL'
                  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
                  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
                  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
                  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>

    <wsdl:types>
        <xsd:schema xmlns='http://www.w3.org/2001/XMLSchema'
                    targetNamespace='urn:supportWSDL'>
            <xsd:complexType name='Traducciones'>
                <xsd:sequence>
                    <xsd:element name='clave'       type='xsd:string'/>
                    <xsd:element name='traduccion'  type='xsd:string'/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    
    <wsdl:message name='TraduccionesRequest'>
        <wsdl:part name='modulo'    type='xsd:string'/>
        <wsdl:part name='languaje'  type='xsd:string'/>
        <wsdl:part name='data'  element='tns:Traducciones'/>
    </wsdl:message>
    <wsdl:message name='TraduccionesResponse'>
        <wsdl:part name='return'   type='xsd:string' />
        
    </wsdl:message>

    <wsdl:portType name='supportPortType'>
        <wsdl:operation name='sendTraducciones'>
            <wsdl:input message='tns:TraduccionesRequest'/>
            <wsdl:output message='tns:TraduccionesResponse'/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name='supportBinding' type='tns:supportPortType'>
        <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
        <wsdl:operation name='sendTraducciones'>
            <soap:operation soapAction='urn:localhost-support#sendTraducciones'/> 
            <wsdl:input> 
                <soap:body use='encoded' namespace='urn:localhost-support'
                encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use='encoded' namespace='urn:localhost-support'
                encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name='supportService'>
        <wsdl:port name='supportPort' binding='supportBinding'>
            <soap:address location='http://192.168.1.179/modules/language_admin/webservice/supportWSDL2.php'/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>